<section>
  <strong>route</strong>
  <ul>
    <li>
      You with ip-address {{ client.ip }} ({{ client.hostname }}) seem to be located in {{ client.geolocation.country.name }}, where currently the energy mix is:
      <ul>
        {% for source, consumption in client.sorted_power_breakdown %}
          {% if consumption > 0 %}
          <li>
            <strong>{{ source }}:</strong> {{ ((consumption / client.power.powerConsumptionTotal) * 100)|round(2) }}%
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% for hop in route %}
      <li>
        {{ hop.ip }} ({{ hop.hostname }}) {% if hop.geolocation %}in {{ hop.geolocation.country.name }}{% endif %}
      </li>
    {% endfor %}
    <li>
      Server with ip address {{ server.ip }} ({{ server.hostname }}), seems to be located in {{ server.geolocation.country.name }}, where currently, the energy mix is:
      <ul>
        {% for source, consumption in server.sorted_power_breakdown %}
          {% if consumption > 0 %}
          <li>
            <strong>{{ source }}:</strong> {{ ((consumption / server.power.powerConsumptionTotal) * 100)|round(2) }}%
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</section>